body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3dWdoaWQwdmp1Y2dxN200YTJiNzQ5cGdhNXRyNjljaW1nOXNuMTNndyZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/Mmh3uG0srGGqFm5Vmw/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.btn {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #8c9fff;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.btn:hover {
    background-color: #6c77b3;
}

.btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.btn.op {
    background-color: #ffb74d;
}

.btn.op:hover {
    background-color: #cc9440;
}

.btn.op:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dee0ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: auto;
    margin-top: 100px;

}

#equals {
    font-size: 20px;
        padding: 10px;
        margin: 5px;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: #7f3aff;
        color: white;
        cursor: pointer;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#equals:hover {
    background-color: #5c2ecc;
}

#equals:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#clear {
    font-size: 20px;
        padding: 10px;
        margin: 5px;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: #ff5c5c;
        color: white;
        cursor: pointer;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#clear:hover {
    background-color: #cc4747;
}

#clear:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#display {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 15px;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: right;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(238, 234, 249);
}